.version.directions /* version checker */
{
	color: #000007;
	background-color: #37AFFB;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 863px;
	min-height: 577.8526926257953px;
	background-image: none;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 62px 49px 62.14730737420473px 48px;
}

#pu2300
{
	width: 0.01px;
}

#u2300
{
	z-index: 2;
	width: 401px;
	min-height: 400px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2302
{
	z-index: 3;
	width: 401px;
	min-height: 400px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 462px;
}

#pu2309
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 43px;
}

#u2309
{
	z-index: 4;
	width: 153px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u2310
{
	z-index: 5;
	width: 153px;
	background-color: transparent;
	position: relative;
}

#u2312-4
{
	z-index: 7;
	width: 111px;
	min-height: 34px;
	background-color: transparent;
	font-size: 42px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 27px;
	margin-top: 4px;
	position: relative;
}

#u2368
{
	z-index: 11;
	width: 633px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 206px;
}

.html
{
	background-color: #7F7F7F;
}

body
{
	position: relative;
	min-width: 962px;
	padding-top: 35px;
	padding-bottom: 36px;
}

