
#u138-4
{
	font-family: cabin-n5, sans-serif;
}

#u140-6
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u139-4,#u153-4,#u155-4,#u156-4,#u167-4,#u168-4
{
	font-family: cabin-n7, sans-serif;
}

#u353-4,#u373-2
{
	font-family: cabin-n7, sans-serif;
}

#u373-4,#u373-6,#u373-8,#u373-10,#u373-13,#u373-15,#u373-18
{
	font-family: quattrocento-sans-n7, sans-serif;
}

