#u138-4
{
	font-family: cabin-n5, sans-serif;
}

#u140-6
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u139-4,#u153-4,#u155-4,#u156-4,#u167-4,#u168-4
{
	font-family: cabin-n7, sans-serif;
}

#u2028-8,#u2028-9,#u2029,#u2029-4
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u2028-2,#u2028-3,#u2028-5,#u2028-7,#u2042-5
{
	font-family: quattrocento-sans-n4, sans-serif;
}

#u2044-4
{
	font-family: cabin-n7, sans-serif;
}

