#u138-4
{
	font-family: cabin-n5, sans-serif;
}

#u140-6
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u139-4,#u153-4,#u155-4,#u156-4,#u167-4,#u168-4
{
	font-family: cabin-n7, sans-serif;
}

#u346-3,#u346-8,#u346-13,#u346-18,#u346-23,#u346-28,#u346-41,#u346-46,#u346-51,#u346-56,#u346-61,#u346-66,#u346-71,#u346-76,#u346-81,#u346-86,#u346-91,#u346-96,#u346-101,#u346-106
{
	font-family: quattrocento-sans-n4, sans-serif;
}

#u346,#u346-5,#u346-6,#u346-10,#u346-11,#u346-15,#u346-16,#u346-20,#u346-21,#u346-25,#u346-26,#u346-38,#u346-39,#u346-43,#u346-44,#u346-48,#u346-49,#u346-53,#u346-54,#u346-58,#u346-59,#u346-63,#u346-64,#u346-68,#u346-69,#u346-73,#u346-74,#u346-78,#u346-79,#u346-83,#u346-84,#u346-88,#u346-89,#u346-93,#u346-94,#u346-98,#u346-99,#u346-103,#u346-104,#u346-108,#u1352-4
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u339-4
{
	font-family: cabin-n7, sans-serif;
}

