#u138-4
{
	font-family: cabin-n5, sans-serif;
}

#u140-6
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u139-4,#u153-4,#u155-4,#u156-4,#u167-4,#u168-4
{
	font-family: cabin-n7, sans-serif;
}

#u448-4,#u450-4,#u451-4,#u453-4,#u454-4,#u455-4,#u456-6,#u458-6,#u459-4,#u460-4,#u461-4,#u462-4,#u463-4
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u411-7,#u440-4,#u464-4,#u465-4
{
	font-family: quattrocento-sans-n4, sans-serif;
}

#u390-4,#u391-4,#u392-4,#u393-4,#u446-4,#u521-4
{
	font-family: cabin-n7, sans-serif;
}

