
#u138-4
{
	font-family: cabin-n5, sans-serif;
}

#u140-6
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u139-4,#u153-4,#u155-4,#u156-4,#u167-4,#u168-4
{
	font-family: cabin-n7, sans-serif;
}

#u275-4
{
	font-family: cabin-n7, sans-serif;
}

#u4614-5,#u4614-6,#u4614-8,#u4614-9,#u2763-2
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u4614,#u4614-13,#u4614-16,#u3005-13,#u2763-12,#u1922-10,#u1976-12
{
	font-family: quattrocento-sans-n4, sans-serif;
}

