#u138-4
{
	font-family: cabin-n5, sans-serif;
}

#u140-6
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u139-4,#u153-4,#u155-4,#u156-4,#u167-4,#u168-4
{
	font-family: cabin-n7, sans-serif;
}

#u2049-2,#u2049-3,#u2049-5,#u2049-6,#u2049-8
{
	font-family: quattrocento-sans-n4, sans-serif;
}

#u2049-9,#u2049-10,#u2050,#u2050-4
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u2054-4
{
	font-family: cabin-n7, sans-serif;
}

