#u138-4
{
	font-family: cabin-n5, sans-serif;
}

#u140-6
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u139-4,#u153-4,#u155-4,#u156-4,#u167-4,#u168-4
{
	font-family: cabin-n7, sans-serif;
}

#u1109-4,#u1110-4,#u1514-4
{
	font-family: cabin-n5, sans-serif;
}

#u929-6,#u930-7,#u931-10,#u1058-7,#u1059-8,#u1060-7,#u1327-6,#u1518-6,#u1570-5,#u1571-14,#u1572-16,#u1595-11,#u1766-13
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u929-2,#u931-4,#u931-6,#u1059-2,#u1059-4,#u1570-2,#u1571,#u1571-6,#u1571-8,#u1571-11,#u1572-2,#u1572-6,#u1572-8,#u1572-12,#u1595,#u1595-6,#u1595-8,#u1766-3
{
	font-family: quattrocento-sans-n4, sans-serif;
}

#u853-4
{
	font-family: cabin-n7, sans-serif;
}

