#u138-4
{
	font-family: cabin-n5, sans-serif;
}

#u140-6
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u139-4,#u153-4,#u155-4,#u156-4,#u167-4,#u168-4
{
	font-family: cabin-n7, sans-serif;
}

#u263,#u263-4,#u264,#u264-4,#u264-6,#u264-8,#u265,#u265-4,#u265-6,#u266,#u266-4,#u266-9,#u266-11,#u266-13,#u266-14,#u272,#u272-4,#u272-6,#u273,#u273-4,#u273-6,#u1525,#u1525-4,#u1525-6,#u1620-4,#u1687-4,#u1743,#u1743-4,#u1743-6,#u1782,#u1782-4,#u1785,#u1785-4,#u1785-9,#u1785-11,#u1785-13,#u2113-2,#u2805,#u2805-4,#u2819,#u2819-4,#u2819-6,#u2943-2
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u266-7,#u1785-7,#u2113-3,#u2943-4
{
	font-family: quattrocento-sans-n4, sans-serif;
}

#u267-4
{
	font-family: cabin-n7, sans-serif;
}

