.version.index /* version checker */
{
	color: #000019;
	background-color: #9B9E3D;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 558px;
	background-image: none;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}

#u141
{
	z-index: 2;
	width: 580px;
	position: relative;
	margin-right: -10000px;
	left: 380px;
}

#u291
{
	z-index: 4;
	width: 509px;
	position: relative;
	margin-right: -10000px;
}

#u291_img
{
	padding-bottom: 12px;
}

#u138-4
{
	z-index: 6;
	width: 299px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 577px;
}

#u139-4
{
	z-index: 10;
	width: 287px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 458px;
}

#u140-6
{
	z-index: 14;
	width: 174px;
	min-height: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 752px;
}

#u146
{
	z-index: 20;
	width: 77px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
	left: 101px;
}

#u147
{
	z-index: 21;
	width: 38px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 218px;
	left: 99px;
}

#u148
{
	z-index: 22;
	width: 1px;
	height: 77px;
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
	left: 99px;
}

#u150
{
	z-index: 23;
	width: 1px;
	height: 56px;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: 139px;
}

#u151
{
	z-index: 24;
	width: 38px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: 139px;
}

#u152
{
	z-index: 25;
	width: 38px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 139px;
}

#u153-4
{
	z-index: 26;
	width: 93px;
	min-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 127px;
	left: 197px;
}

#u155-4
{
	z-index: 30;
	width: 133px;
	min-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 197px;
}

#u156-4
{
	z-index: 34;
	width: 133px;
	min-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	left: 197px;
}

#u159
{
	z-index: 38;
	width: 28px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 71px;
}

#u160
{
	z-index: 39;
	width: 1px;
	height: 149px;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 71px;
}

#u161
{
	z-index: 40;
	width: 68px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 330px;
	left: 71px;
}

#u162
{
	z-index: 41;
	width: 1px;
	height: 56px;
	position: relative;
	margin-right: -10000px;
	margin-top: 303px;
	left: 141px;
}

#u163
{
	z-index: 42;
	width: 38px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 303px;
	left: 141px;
}

#u164
{
	z-index: 43;
	width: 38px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 358px;
	left: 141px;
}

#u165
{
	z-index: 44;
	width: 28px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 254px;
	left: 42px;
}

#u167-4
{
	z-index: 45;
	width: 133px;
	min-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 288px;
	left: 197px;
}

#u168-4
{
	z-index: 49;
	width: 133px;
	min-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 343px;
	left: 197px;
}

#u275-4
{
	z-index: 53;
	width: 286px;
	min-height: 31px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 18px;
	font-family: cabin, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 615px;
	left: 636px;
}

#u276
{
	z-index: 57;
	width: 837px;
	height: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 644px;
	left: 97px;
}

#u277
{
	z-index: 58;
	width: 51px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 602px;
	left: 40px;
}

#u1337
{
	z-index: 60;
	width: 200px;
	min-height: 12px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1081px;
	left: 729px;
}

#u1737
{
	z-index: 61;
	width: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 255px;
	left: 42px;
}

#u1738
{
	z-index: 62;
	width: 1px;
	height: 259px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #000000;
	margin-bottom: -74px;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: -1px;
}

#slideshowu1918
{
	z-index: 63;
	width: 0.01px;
	height: 272px;
	position: relative;
	margin-right: -10000px;
	margin-top: 382px;
	left: 166px;
}

#u1935
{
	position: absolute;
	width: 267px;
	height: 157px;
	background-color: transparent;
	left: 221px;
}

#u1935popup
{
	z-index: 64;
}

#u4602
{
	z-index: 65;
	width: 267px;
	height: 157px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4602_img
{
	margin-top: -6px;
	margin-bottom: -24px;
}

#u2999
{
	z-index: 67;
	width: 267px;
	height: 157px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2757
{
	z-index: 69;
	width: 267px;
	height: 157px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1938
{
	z-index: 71;
	width: 267px;
	height: 157px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1938_img
{
	padding-right: 4px;
}

#u1970
{
	z-index: 73;
	width: 267px;
	height: 157px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1970_img
{
	padding: 22px 41px 23px 40px;
}

#u1927
{
	position: absolute;
	width: 351px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 55px;
	top: 172px;
	left: 83px;
}

#u1927popup
{
	z-index: 75;
}

#u4608
{
	z-index: 76;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u4608_img
{
	margin-right: -4px;
}

#u3002
{
	z-index: 78;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 75px;
}

#u2760
{
	z-index: 80;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 145px;
}

#u1930
{
	z-index: 82;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 215px;
}

#u1930_img
{
	margin-top: -4px;
	margin-bottom: -4px;
}

#u1973
{
	z-index: 84;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 285px;
}

#u4608.SSSlideLinkSelected,#u3002.SSSlideLinkSelected,#u2760.SSSlideLinkSelected,#u1930.SSSlideLinkSelected,#u1973.SSSlideLinkSelected
{
	border-width: 0px;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1973_img
{
	margin-left: -7px;
	margin-right: -8px;
}

#u1920
{
	position: absolute;
	width: 211px;
	background-color: transparent;
}

#u1920popup
{
	z-index: 86;
}

#u4614-18
{
	z-index: 87;
	width: 191px;
	min-height: 144px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u4614
{
	font-family: quattrocento-sans, sans-serif;
	font-weight: 400;
}

#u4614-13
{
	text-align: left;
	line-height: 1.4;
	color: #000000;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 400;
}

#u4614-16
{
	font-size: 14px;
	text-align: left;
	line-height: 1.4;
	color: #000000;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 400;
}

#u3005-13
{
	z-index: 105;
	width: 191px;
	min-height: 144px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	line-height: 1.4;
	text-align: left;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2763-12
{
	z-index: 118;
	width: 191px;
	min-height: 144px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	line-height: 1.4;
	text-align: left;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4614-5,#u4614-6,#u4614-8,#u4614-9,#u2763-2
{
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
}

#u2763-8
{
	font-size: 12px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2763-8 span,#u2763-8 a /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.4;
}

#u2763-6
{
	font-size: 14px;
}

#u2763-5,#u2763-10
{
	font-size: 12px;
}

#u1922-10
{
	z-index: 130;
	width: 191px;
	min-height: 144px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	line-height: 1.4;
	text-align: left;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u1976-12
{
	z-index: 140;
	width: 191px;
	min-height: 144px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	line-height: 1.4;
	text-align: left;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u1924-4
{
	position: absolute;
	display: block;
	vertical-align: top;
	top: 172px;
	left: 45px;
}

#u1924-4popup
{
	z-index: 152;
}

#u1943-4
{
	position: absolute;
	display: block;
	vertical-align: top;
	top: 172px;
	left: 434px;
}

#u1943-4popup
{
	z-index: 156;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2317
{
	z-index: 160;
	width: 131px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 512px;
	left: 786px;
}

#u3982
{
	z-index: 162;
	width: 217px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 555px;
	left: 700px;
}

.html
{
	background-color: #7F7F7F;
}

body
{
	position: relative;
	min-width: 962px;
	padding-top: 35px;
	padding-bottom: 47px;
}

