.version.logo /* version checker */
{
	color: #0000E2;
	background-color: #92C575;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u2293-10
{
	z-index: 2;
	width: 645px;
	min-height: 90px;
	background-color: transparent;
	font-size: 24px;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	left: 61px;
}

#u2293-6
{
	font-weight: normal;
	font-style: italic;
}

#u2293-2,#u2293-5,#u2293-7
{
	font-weight: normal;
}

#u2294
{
	z-index: 12;
	width: 153px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 749px;
}

#u2295
{
	z-index: 13;
	width: 153px;
	background-color: transparent;
	position: relative;
}

#u2297-4
{
	z-index: 15;
	width: 111px;
	min-height: 34px;
	background-color: transparent;
	font-size: 42px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 27px;
	margin-top: 4px;
	position: relative;
}

body
{
	position: relative;
	min-width: 962px;
	padding-top: 35px;
	padding-bottom: 36px;
}

