.version.news /* version checker */
{
	color: #0000FD;
	background-color: #8F1FE5;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1860px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 65px;
}

#pu141
{
	width: 0.01px;
}

#u141
{
	z-index: 2;
	width: 580px;
	margin-right: -10000px;
	left: 380px;
}

#u291
{
	z-index: 4;
	width: 509px;
	margin-right: -10000px;
}

#u291_img
{
	padding-bottom: 12px;
}

#u138-4
{
	z-index: 6;
	width: 299px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 577px;
}

#u139-4
{
	z-index: 10;
	width: 287px;
	min-height: 36px;
	margin-right: -10000px;
	margin-top: 100px;
	left: 458px;
}

#u140-6
{
	z-index: 14;
	width: 174px;
	min-height: 57px;
	margin-right: -10000px;
	margin-top: 106px;
	left: 752px;
}

#u146
{
	z-index: 20;
	width: 77px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 142px;
	left: 101px;
}

#u147
{
	z-index: 21;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 218px;
	left: 99px;
}

#u148
{
	z-index: 22;
	width: 1px;
	height: 77px;
	margin-right: -10000px;
	margin-top: 142px;
	left: 99px;
}

#u150
{
	z-index: 23;
	width: 1px;
	height: 56px;
	margin-right: -10000px;
	margin-top: 191px;
	left: 139px;
}

#u151
{
	z-index: 24;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 191px;
	left: 139px;
}

#u152
{
	z-index: 25;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 247px;
	left: 139px;
}

#u153-4
{
	z-index: 26;
	width: 93px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 127px;
	left: 197px;
}

#u155-4
{
	z-index: 30;
	width: 133px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 180px;
	left: 197px;
}

#u156-4
{
	z-index: 34;
	width: 133px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 231px;
	left: 197px;
}

#u159
{
	z-index: 38;
	width: 28px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 181px;
	left: 71px;
}

#u160
{
	z-index: 39;
	width: 1px;
	height: 149px;
	margin-right: -10000px;
	margin-top: 181px;
	left: 71px;
}

#u161
{
	z-index: 40;
	width: 68px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 330px;
	left: 71px;
}

#u162
{
	z-index: 41;
	width: 1px;
	height: 56px;
	margin-right: -10000px;
	margin-top: 303px;
	left: 141px;
}

#u163
{
	z-index: 42;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 303px;
	left: 141px;
}

#u164
{
	z-index: 43;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 358px;
	left: 141px;
}

#u165
{
	z-index: 44;
	width: 28px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 254px;
	left: 42px;
}

#u167-4
{
	z-index: 45;
	width: 133px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 288px;
	left: 197px;
}

#u168-4
{
	z-index: 49;
	width: 133px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 343px;
	left: 197px;
}

#u1768
{
	z-index: 53;
	width: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1232px;
	left: 610px;
}

#u857
{
	z-index: 62;
	width: 1px;
	height: 2194px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 254px;
	left: 42px;
}

#u928
{
	z-index: 63;
	width: 109px;
	height: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 360px;
	left: 270px;
}

#u929-6
{
	z-index: 64;
	width: 416px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2215px;
	left: 464px;
}

#u930-7
{
	z-index: 70;
	width: 255px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2303px;
	left: 402px;
}

#u931-10
{
	z-index: 77;
	width: 415px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2366px;
	left: 402px;
}

#u1107
{
	z-index: 87;
	width: 48px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2306px;
	left: 741px;
}

#u934
{
	z-index: 88;
	width: 47px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u938
{
	z-index: 90;
	width: 46px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1106
{
	z-index: 91;
	width: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2306px;
	left: 682px;
}

#u932
{
	z-index: 92;
	width: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u940
{
	z-index: 94;
	width: 44px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1046
{
	z-index: 95;
	width: 48px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2107px;
	left: 401px;
}

#u1048
{
	z-index: 96;
	width: 47px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1047
{
	z-index: 98;
	width: 46px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1050
{
	z-index: 99;
	width: 48px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2108px;
	left: 457px;
}

#u1051
{
	z-index: 100;
	width: 47px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1053
{
	z-index: 102;
	width: 46px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1054
{
	z-index: 103;
	width: 157px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1992px;
	left: 400px;
}

#u1054_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u1056
{
	z-index: 105;
	width: 159px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1855px;
	left: 645px;
}

#u1058-7
{
	z-index: 107;
	width: 237px;
	min-height: 75px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1863px;
	left: 400px;
}

#u1059-8
{
	z-index: 114;
	width: 284px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2115px;
	left: 518px;
}

#u1060-7
{
	z-index: 122;
	width: 301px;
	min-height: 49px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1989px;
	left: 571px;
}

#u1358
{
	z-index: 129;
	width: 48px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2202px;
	left: 401px;
}

#u1096
{
	z-index: 130;
	width: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u861
{
	z-index: 132;
	width: 46px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1108
{
	z-index: 133;
	width: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2306px;
	left: 802px;
}

#u1101
{
	z-index: 134;
	width: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1105
{
	z-index: 136;
	width: 44px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1109-4
{
	z-index: 137;
	width: 299px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	font-size: 80px;
	color: #7F7F7F;
	text-align: center;
	font-family: cabin, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 2144px;
	left: 90px;
}

#u1110-4
{
	z-index: 141;
	width: 299px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	font-size: 80px;
	color: #7F7F7F;
	text-align: center;
	font-family: cabin, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 1714px;
	left: 92px;
}

#u1327-6
{
	z-index: 145;
	width: 300px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2036px;
	left: 571px;
}

#u1514-4
{
	z-index: 151;
	width: 299px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	font-size: 80px;
	color: #7F7F7F;
	text-align: center;
	font-family: cabin, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 1274px;
	left: 92px;
}

#u1518-6
{
	z-index: 155;
	width: 189px;
	min-height: 22px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1938px;
	left: 424px;
}

#u1570-5
{
	z-index: 161;
	width: 258px;
	min-height: 23px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1791px;
	left: 530px;
}

#u1571-14
{
	z-index: 166;
	width: 188px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1511px;
	left: 628px;
}

#u1572-16
{
	z-index: 180;
	width: 173px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1642px;
	left: 400px;
}

#u1573
{
	z-index: 196;
	width: 172px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1637px;
	left: 628px;
}

#u1576
{
	z-index: 198;
	width: 76px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1740px;
	left: 439px;
}

#u1580
{
	z-index: 200;
	width: 171px;
	height: 122px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1637px;
	left: 628px;
}

#u1587
{
	z-index: 201;
	width: 75px;
	height: 101px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1740px;
	left: 439px;
}

#u1595-11
{
	z-index: 202;
	width: 267px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1423px;
	left: 469px;
}

#u1596
{
	z-index: 213;
	width: 48px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1412px;
	left: 405px;
}

#u1597
{
	z-index: 214;
	width: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1599
{
	z-index: 216;
	width: 46px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1766-13
{
	z-index: 217;
	width: 207px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1240px;
	left: 403px;
}

#u2791
{
	z-index: 230;
	width: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1490px;
	left: 402px;
}

#u1575
{
	z-index: 231;
	width: 186px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1710
{
	z-index: 232;
	width: 186px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#u1767
{
	z-index: 234;
	width: 59px;
	height: 82px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1232px;
	left: 610px;
}

#u2671-4
{
	z-index: 235;
	width: 299px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	font-size: 80px;
	color: #7F7F7F;
	text-align: center;
	font-family: cabin, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 610px;
	left: 98px;
}

#u2672
{
	z-index: 239;
	width: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1152px;
	left: 403px;
}

#u2673
{
	z-index: 240;
	width: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2675
{
	z-index: 242;
	width: 53px;
	height: 63px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2684
{
	z-index: 243;
	width: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1153px;
	left: 470px;
}

#u2679
{
	z-index: 244;
	width: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2681
{
	z-index: 246;
	width: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2682
{
	z-index: 247;
	width: 53px;
	height: 64px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2685-8
{
	z-index: 248;
	width: 284px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1158px;
	left: 536px;
}

#u2686
{
	z-index: 256;
	width: 310px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1020px;
	left: 614px;
}

#u2692-15
{
	z-index: 258;
	width: 284px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1021px;
	left: 403px;
}

#u2697-9
{
	z-index: 273;
	width: 257px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 928px;
	left: 479px;
}

#u2792
{
	z-index: 282;
	width: 61px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 920px;
	left: 403px;
}

#u2693
{
	z-index: 283;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2694
{
	z-index: 284;
	width: 60px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#u2698-11
{
	z-index: 286;
	width: 133px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 757px;
	left: 403px;
}

#u2699
{
	z-index: 297;
	width: 257px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 757px;
	left: 536px;
}

#u141_img,#u2686_img,#u2699_img
{
	padding-right: 1px;
}

#u2724
{
	z-index: 299;
	width: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 840px;
	left: 701px;
}

#u2725
{
	z-index: 300;
	width: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2679_clip,#u2725_clip
{
	overflow: hidden;
	width: 54px;
	height: 65px;
}

#u2679_img,#u2725_img
{
	margin-left: -6px;
	margin-right: -4px;
}

#u2727
{
	z-index: 302;
	width: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2728
{
	z-index: 303;
	width: 53px;
	height: 64px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2729-7
{
	z-index: 304;
	width: 284px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 846px;
	left: 403px;
}

#u2735
{
	z-index: 311;
	width: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 560px;
	left: 716px;
}

#u2731
{
	z-index: 312;
	width: 51px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2733
{
	z-index: 314;
	width: 50px;
	height: 60px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2736-7
{
	z-index: 315;
	width: 284px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 570px;
	left: 401px;
}

#u2737
{
	z-index: 322;
	width: 48px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1332px;
	left: 403px;
}

#u2739
{
	z-index: 323;
	width: 47px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2738
{
	z-index: 325;
	width: 46px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2741-6
{
	z-index: 326;
	width: 284px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1340px;
	left: 465px;
}

#u2744
{
	z-index: 332;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 634px;
	left: 404px;
}

#u2745
{
	z-index: 333;
	width: 68px;
	background-color: transparent;
	margin-left: 7px;
	position: relative;
}

#u2747
{
	z-index: 335;
	width: 89px;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
}

#u2751-12
{
	z-index: 337;
	width: 284px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 639px;
	left: 510px;
}

#u2775-37
{
	z-index: 349;
	width: 276px;
	min-height: 176px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 341px;
	left: 393px;
}

#u929-2,#u931-4,#u931-6,#u1059-2,#u1059-4,#u1570-2,#u1571,#u1571-6,#u1571-8,#u1571-11,#u1572-2,#u1572-6,#u1572-8,#u1572-12,#u1595,#u1595-6,#u1595-8,#u1766-3,#u2685-2,#u2685-4,#u2697,#u2698,#u2729-2,#u2736-2,#u2741-2,#u2751-2,#u2751-4,#u2775-2,#u2775-9,#u2775-11,#u2775-13,#u2775-18
{
	font-family: quattrocento-sans, sans-serif;
	font-weight: 400;
}

#u2729-3,#u2736-3,#u2751-5,#u2775-7,#u2775-10,#u2775-12,#u2775-17,#u2775-22,#u2775-26,#u2775-30,#u2775-34
{
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
}

#u2775-35
{
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	color: #000000;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 400;
}

#u2776
{
	z-index: 386;
	width: 201px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 303px;
	left: 675px;
}

#u2771
{
	z-index: 387;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2774
{
	z-index: 389;
	width: 199px;
	height: 202px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2786
{
	z-index: 390;
	width: 256px;
	height: 57px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 757px;
	left: 536px;
}

#u2787
{
	z-index: 391;
	width: 309px;
	height: 87px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1020px;
	left: 614px;
}

#u2790-4
{
	z-index: 392;
	width: 200px;
	background-color: transparent;
	line-height: 1.4;
	font-size: 12px;
	color: #000000;
	text-align: left;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 507px;
	left: 717px;
}

#pu853-4
{
	width: 0.01px;
	margin-left: 38px;
	margin-top: 10px;
}

#u853-4
{
	z-index: 55;
	width: 286px;
	min-height: 31px;
	background-color: transparent;
	font-size: 18px;
	color: #7F7F7F;
	font-family: cabin, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 598px;
}

#u854
{
	z-index: 59;
	width: 837px;
	height: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 59px;
}

#u855
{
	z-index: 60;
	width: 51px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

body
{
	position: relative;
	min-width: 962px;
	padding-top: 35px;
	padding-bottom: 148px;
}

