.version.news /* version checker */
{
	color: #000009;
	background-color: #477BAE;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1795px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 65px;
	margin-left: auto;
	margin-right: auto;
}

#u141
{
	z-index: 2;
	width: 580px;
	margin-right: -10000px;
	left: 380px;
}

#u291
{
	z-index: 4;
	width: 509px;
	margin-right: -10000px;
}

#u138-4
{
	z-index: 6;
	width: 299px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 577px;
}

#u139-4
{
	z-index: 10;
	width: 287px;
	min-height: 36px;
	margin-right: -10000px;
	margin-top: 100px;
	left: 458px;
}

#u140-6
{
	z-index: 14;
	width: 174px;
	min-height: 57px;
	margin-right: -10000px;
	margin-top: 106px;
	left: 752px;
}

#u146
{
	z-index: 20;
	width: 77px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 142px;
	left: 101px;
}

#u147
{
	z-index: 21;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 218px;
	left: 99px;
}

#u148
{
	z-index: 22;
	width: 1px;
	height: 77px;
	margin-right: -10000px;
	margin-top: 142px;
	left: 99px;
}

#u150
{
	z-index: 23;
	width: 1px;
	height: 56px;
	margin-right: -10000px;
	margin-top: 191px;
	left: 139px;
}

#u151
{
	z-index: 24;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 191px;
	left: 139px;
}

#u152
{
	z-index: 25;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 247px;
	left: 139px;
}

#u153-4
{
	z-index: 26;
	width: 93px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 127px;
	left: 197px;
}

#u155-4
{
	z-index: 30;
	width: 133px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 180px;
	left: 197px;
}

#u156-4
{
	z-index: 34;
	width: 133px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 231px;
	left: 197px;
}

#u159
{
	z-index: 38;
	width: 28px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 181px;
	left: 71px;
}

#u160
{
	z-index: 39;
	width: 1px;
	height: 149px;
	margin-right: -10000px;
	margin-top: 181px;
	left: 71px;
}

#u161
{
	z-index: 40;
	width: 68px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 330px;
	left: 71px;
}

#u162
{
	z-index: 41;
	width: 1px;
	height: 56px;
	margin-right: -10000px;
	margin-top: 303px;
	left: 141px;
}

#u163
{
	z-index: 42;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 303px;
	left: 141px;
}

#u164
{
	z-index: 43;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 358px;
	left: 141px;
}

#u165
{
	z-index: 44;
	width: 28px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 254px;
	left: 42px;
}

#u167-4
{
	z-index: 45;
	width: 133px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 288px;
	left: 197px;
}

#u168-4
{
	z-index: 49;
	width: 133px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 343px;
	left: 197px;
}

#u2923
{
	z-index: 53;
	width: 368px;
	background-color: transparent;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	position: relative;
	margin-right: -10000px;
	margin-top: 2227px;
}

#u2920
{
	z-index: 55;
	width: 392px;
	background-color: transparent;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	position: relative;
	margin-right: -10000px;
	margin-top: 1080px;
	left: -2px;
}

#u291_img,#u2923_img,#u2920_img
{
	padding-bottom: 12px;
}

#u1768
{
	z-index: 57;
	width: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2095px;
	left: 613px;
}

#u853-4
{
	z-index: 59;
	width: 286px;
	min-height: 31px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 18px;
	font-family: cabin, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 3315px;
	left: 639px;
}

#u854
{
	z-index: 63;
	width: 837px;
	height: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 3340px;
	left: 100px;
}

#u855
{
	z-index: 64;
	width: 51px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3297px;
	left: 41px;
}

#u857
{
	z-index: 66;
	width: 1px;
	height: 3027px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 255px;
	left: 42px;
}

#u928
{
	z-index: 67;
	width: 109px;
	height: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 360px;
	left: 270px;
}

#u929-6
{
	z-index: 68;
	width: 416px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 3079px;
	left: 467px;
}

#u930-7
{
	z-index: 74;
	width: 255px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 3166px;
	left: 405px;
}

#u931-9
{
	z-index: 81;
	width: 415px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 3229px;
	left: 405px;
}

#u1107
{
	z-index: 90;
	width: 48px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3169px;
	left: 743px;
}

#u934
{
	z-index: 91;
	width: 47px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u938
{
	z-index: 93;
	width: 46px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1106
{
	z-index: 94;
	width: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3169px;
	left: 684px;
}

#u932
{
	z-index: 95;
	width: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u940
{
	z-index: 97;
	width: 44px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1046
{
	z-index: 98;
	width: 48px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2971px;
	left: 404px;
}

#u1048
{
	z-index: 99;
	width: 47px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1047
{
	z-index: 101;
	width: 46px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1050
{
	z-index: 102;
	width: 48px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2971px;
	left: 459px;
}

#u1051
{
	z-index: 103;
	width: 47px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1053
{
	z-index: 105;
	width: 46px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1054
{
	z-index: 106;
	width: 157px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2855px;
	left: 402px;
}

#u1056
{
	z-index: 108;
	width: 159px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2718px;
	left: 647px;
}

#u1058-7
{
	z-index: 110;
	width: 237px;
	min-height: 75px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2726px;
	left: 402px;
}

#u1059-7
{
	z-index: 117;
	width: 284px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2979px;
	left: 521px;
}

#u1060-7
{
	z-index: 124;
	width: 301px;
	min-height: 49px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2853px;
	left: 573px;
}

#u1358
{
	z-index: 131;
	width: 48px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3065px;
	left: 403px;
}

#u1096
{
	z-index: 132;
	width: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u861
{
	z-index: 134;
	width: 46px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1108
{
	z-index: 135;
	width: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3169px;
	left: 804px;
}

#u1101
{
	z-index: 136;
	width: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1105
{
	z-index: 138;
	width: 44px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1109-4
{
	z-index: 139;
	width: 299px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	text-align: center;
	font-size: 80px;
	color: #7F7F7F;
	font-family: cabin, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 3007px;
	left: 92px;
}

#u1110-4
{
	z-index: 143;
	width: 299px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	text-align: center;
	font-size: 80px;
	color: #7F7F7F;
	font-family: cabin, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 2577px;
	left: 94px;
}

#u1327-6
{
	z-index: 147;
	width: 300px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2899px;
	left: 574px;
}

#u1514-4
{
	z-index: 153;
	width: 299px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	text-align: center;
	font-size: 80px;
	color: #7F7F7F;
	font-family: cabin, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 2061px;
	left: 93px;
}

#u1518-6
{
	z-index: 157;
	width: 189px;
	min-height: 22px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2801px;
	left: 427px;
}

#u1570-5
{
	z-index: 163;
	width: 258px;
	min-height: 23px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2654px;
	left: 532px;
}

#u1571-13
{
	z-index: 168;
	width: 188px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2374px;
	left: 630px;
}

#u1572-16
{
	z-index: 181;
	width: 173px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2505px;
	left: 402px;
}

#u1573
{
	z-index: 197;
	width: 172px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2500px;
	left: 630px;
}

#u1576
{
	z-index: 199;
	width: 76px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2604px;
	left: 441px;
}

#u1580
{
	z-index: 201;
	width: 171px;
	height: 122px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2500px;
	left: 630px;
}

#u1587
{
	z-index: 202;
	width: 75px;
	height: 101px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2604px;
	left: 441px;
}

#u1595-10
{
	z-index: 203;
	width: 267px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2286px;
	left: 472px;
}

#u1596
{
	z-index: 213;
	width: 48px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2275px;
	left: 407px;
}

#u1597
{
	z-index: 214;
	width: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1599
{
	z-index: 216;
	width: 46px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1766-13
{
	z-index: 217;
	width: 207px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2103px;
	left: 406px;
}

#u2791
{
	z-index: 230;
	width: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2353px;
	left: 405px;
}

#u1575
{
	z-index: 231;
	width: 186px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1710
{
	z-index: 232;
	width: 186px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#u1767
{
	z-index: 234;
	width: 59px;
	height: 82px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2095px;
	left: 613px;
}

#u2671-4
{
	z-index: 235;
	width: 299px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	text-align: center;
	font-size: 80px;
	color: #7F7F7F;
	font-family: cabin, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 1300px;
	left: 97px;
}

#u2672
{
	z-index: 239;
	width: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2015px;
	left: 406px;
}

#u2673
{
	z-index: 240;
	width: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2675
{
	z-index: 242;
	width: 53px;
	height: 63px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2684
{
	z-index: 243;
	width: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2016px;
	left: 472px;
}

#u2679
{
	z-index: 244;
	width: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2681
{
	z-index: 246;
	width: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2682
{
	z-index: 247;
	width: 53px;
	height: 64px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2685-7
{
	z-index: 248;
	width: 284px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2021px;
	left: 539px;
}

#u2686
{
	z-index: 255;
	width: 310px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1883px;
	left: 616px;
}

#u2692-15
{
	z-index: 257;
	width: 284px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1884px;
	left: 406px;
}

#u2697-9
{
	z-index: 272;
	width: 257px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1791px;
	left: 481px;
}

#u2792
{
	z-index: 281;
	width: 61px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1783px;
	left: 406px;
}

#u2693
{
	z-index: 282;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2694
{
	z-index: 283;
	width: 60px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#u2698-11
{
	z-index: 285;
	width: 133px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1620px;
	left: 406px;
}

#u2699
{
	z-index: 296;
	width: 257px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1620px;
	left: 539px;
}

#u2724
{
	z-index: 298;
	width: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1703px;
	left: 703px;
}

#u2725
{
	z-index: 299;
	width: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2679_clip,#u2725_clip
{
	overflow: hidden;
	width: 54px;
	height: 65px;
}

#u2679_img,#u2725_img
{
	margin-left: -6px;
	margin-right: -4px;
}

#u2727
{
	z-index: 301;
	width: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2728
{
	z-index: 302;
	width: 53px;
	height: 64px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2729-6
{
	z-index: 303;
	width: 284px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1709px;
	left: 406px;
}

#u2735
{
	z-index: 309;
	width: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1423px;
	left: 719px;
}

#u2731
{
	z-index: 310;
	width: 51px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2733
{
	z-index: 312;
	width: 50px;
	height: 60px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2736-6
{
	z-index: 313;
	width: 284px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1433px;
	left: 404px;
}

#u2737
{
	z-index: 319;
	width: 48px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2196px;
	left: 406px;
}

#u2739
{
	z-index: 320;
	width: 47px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2738
{
	z-index: 322;
	width: 46px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2741-6
{
	z-index: 323;
	width: 284px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2203px;
	left: 467px;
}

#u2744
{
	z-index: 329;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1497px;
	left: 406px;
}

#u2745
{
	z-index: 330;
	width: 68px;
	background-color: transparent;
	margin-left: 7px;
	position: relative;
}

#u2747
{
	z-index: 332;
	width: 89px;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
}

#u2751-12
{
	z-index: 334;
	width: 284px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1502px;
	left: 512px;
}

#u2775-38
{
	z-index: 346;
	width: 276px;
	min-height: 176px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1187px;
	left: 396px;
}

#u2775-36
{
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	color: #000000;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 400;
}

#u2776
{
	z-index: 384;
	width: 201px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1168px;
	left: 678px;
}

#u2771
{
	z-index: 385;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2774
{
	z-index: 387;
	width: 199px;
	height: 202px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2786
{
	z-index: 388;
	width: 256px;
	height: 57px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1620px;
	left: 539px;
}

#u2787
{
	z-index: 389;
	width: 309px;
	height: 87px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1883px;
	left: 616px;
}

#u2790-4
{
	z-index: 390;
	width: 200px;
	background-color: transparent;
	line-height: 1.4;
	text-align: left;
	font-size: 12px;
	color: #000000;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1372px;
	left: 720px;
}

#u2926-8
{
	z-index: 394;
	width: 349px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1107px;
	left: 460px;
}

#u2927-12
{
	z-index: 402;
	width: 305px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 994px;
	left: 396px;
}

#u2928-5
{
	z-index: 414;
	width: 327px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 495px;
	left: 388px;
}

#u2929-9
{
	z-index: 419;
	width: 284px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 912px;
	left: 456px;
}

#u2930-8
{
	z-index: 428;
	width: 270px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 666px;
	left: 520px;
}

#u2931-10
{
	z-index: 436;
	width: 374px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 808px;
	left: 388px;
}

#u2932-5
{
	z-index: 446;
	width: 315px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 399px;
	left: 579px;
}

#u929-2,#u931-4,#u931-6,#u1059-2,#u1059-4,#u1570-2,#u1571,#u1571-6,#u1571-8,#u1572-2,#u1572-6,#u1572-8,#u1572-12,#u1595,#u1595-6,#u1766-3,#u2685-2,#u2685-4,#u2697,#u2698,#u2729-2,#u2736-2,#u2741-2,#u2751-2,#u2751-4,#u2775-2,#u2775-9,#u2775-12,#u2775-14,#u2775-19,#u2926,#u2927-2,#u2928,#u2929-2,#u2930,#u2931,#u2932
{
	font-family: quattrocento-sans, sans-serif;
	font-weight: 400;
}

#u2729-3,#u2736-3,#u2751-5,#u2775-7,#u2775-10,#u2775-13,#u2775-18,#u2775-23,#u2775-27,#u2775-31,#u2775-35,#u2926-2,#u2927-3,#u2928-2,#u2929-3,#u2929-6,#u2930-2,#u2931-4,#u2931-7,#u2932-2
{
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
}

#u2933-4
{
	z-index: 451;
	width: 299px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	text-align: center;
	font-size: 80px;
	color: #7F7F7F;
	font-family: cabin, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 446px;
	left: 88px;
}

#u2944
{
	z-index: 455;
	width: 48px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1107px;
	left: 396px;
}

#u2945
{
	z-index: 456;
	width: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u2947
{
	z-index: 458;
	width: 46px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2949
{
	z-index: 459;
	width: 70px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 994px;
	left: 721px;
}

#u2951
{
	z-index: 460;
	width: 69px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2951_clip
{
	overflow: hidden;
	width: 69px;
	height: 82px;
}

#u2951_img
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u2950
{
	z-index: 462;
	width: 68px;
	height: 81px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2954
{
	z-index: 463;
	width: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 906px;
	left: 396px;
}

#u2955
{
	z-index: 464;
	width: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2957
{
	z-index: 466;
	width: 44px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2959
{
	z-index: 467;
	width: 57px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 809px;
	left: 775px;
}

#u2960
{
	z-index: 468;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2962
{
	z-index: 470;
	width: 55px;
	height: 66px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2964
{
	z-index: 471;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 631px;
	left: 388px;
}

#u2970
{
	z-index: 473;
	width: 72px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 506px;
	left: 736px;
}

#u2972
{
	z-index: 474;
	width: 70px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 2px;
}

#u2971
{
	z-index: 476;
	width: 70px;
	height: 83px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2975
{
	z-index: 477;
	width: 178px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 388px;
}

#u2981
{
	z-index: 479;
	width: 178px;
	height: 135px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 388px;
}

#u3011
{
	z-index: 480;
	width: 214px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 548px;
	left: 501px;
}

body
{
	position: relative;
	min-width: 962px;
	padding-top: 35px;
	padding-bottom: 148px;
}

