.version.news /* version checker */
{
	color: #0000FB;
	background-color: #7DCBE8;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1795px;
	background-image: none;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 65px;
	margin-left: auto;
	margin-right: auto;
}

#u141
{
	z-index: 2;
	width: 580px;
	position: relative;
	margin-right: -10000px;
	left: 380px;
}

#u291
{
	z-index: 4;
	width: 509px;
	position: relative;
	margin-right: -10000px;
}

#u138-4
{
	z-index: 6;
	width: 299px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 577px;
}

#u139-4
{
	z-index: 10;
	width: 287px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 458px;
}

#u140-6
{
	z-index: 14;
	width: 174px;
	min-height: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 752px;
}

#u146
{
	z-index: 20;
	width: 77px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
	left: 101px;
}

#u147
{
	z-index: 21;
	width: 38px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 218px;
	left: 99px;
}

#u148
{
	z-index: 22;
	width: 1px;
	height: 77px;
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
	left: 99px;
}

#u150
{
	z-index: 23;
	width: 1px;
	height: 56px;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: 139px;
}

#u151
{
	z-index: 24;
	width: 38px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: 139px;
}

#u152
{
	z-index: 25;
	width: 38px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 139px;
}

#u153-4
{
	z-index: 26;
	width: 93px;
	min-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 127px;
	left: 197px;
}

#u155-4
{
	z-index: 30;
	width: 133px;
	min-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 197px;
}

#u156-4
{
	z-index: 34;
	width: 133px;
	min-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	left: 197px;
}

#u159
{
	z-index: 38;
	width: 28px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 71px;
}

#u160
{
	z-index: 39;
	width: 1px;
	height: 149px;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 71px;
}

#u161
{
	z-index: 40;
	width: 68px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 330px;
	left: 71px;
}

#u162
{
	z-index: 41;
	width: 1px;
	height: 56px;
	position: relative;
	margin-right: -10000px;
	margin-top: 303px;
	left: 141px;
}

#u163
{
	z-index: 42;
	width: 38px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 303px;
	left: 141px;
}

#u164
{
	z-index: 43;
	width: 38px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 358px;
	left: 141px;
}

#u165
{
	z-index: 44;
	width: 28px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 254px;
	left: 42px;
}

#u167-4
{
	z-index: 45;
	width: 133px;
	min-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 288px;
	left: 197px;
}

#u168-4
{
	z-index: 49;
	width: 133px;
	min-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 343px;
	left: 197px;
}

#u4524
{
	z-index: 53;
	width: 368px;
	background-color: transparent;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	position: relative;
	margin-right: -10000px;
	margin-top: 3069px;
	left: -2px;
}

#u2923
{
	z-index: 55;
	width: 368px;
	background-color: transparent;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	position: relative;
	margin-right: -10000px;
	margin-top: 2088px;
	left: -2px;
}

#u2920
{
	z-index: 57;
	width: 392px;
	background-color: transparent;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	position: relative;
	margin-right: -10000px;
	margin-top: 1080px;
	left: -2px;
}

#u291_img,#u4524_img,#u2923_img,#u2920_img
{
	padding-bottom: 12px;
}

#u1768
{
	z-index: 59;
	width: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2602px;
	left: 613px;
}

#u853-4
{
	z-index: 61;
	width: 286px;
	min-height: 31px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 18px;
	font-family: cabin, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 3822px;
	left: 639px;
}

#u854
{
	z-index: 65;
	width: 837px;
	height: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 3847px;
	left: 100px;
}

#u855
{
	z-index: 66;
	width: 51px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3802px;
	left: 38px;
}

#u857
{
	z-index: 68;
	width: 2px;
	height: 3538px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 254px;
	left: 38px;
}

#u928
{
	z-index: 69;
	width: 109px;
	height: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 360px;
	left: 270px;
}

#u929-6
{
	z-index: 70;
	width: 416px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 3586px;
	left: 467px;
}

#u930-7
{
	z-index: 76;
	width: 255px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 3673px;
	left: 405px;
}

#u931-9
{
	z-index: 83;
	width: 415px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 3736px;
	left: 405px;
}

#u1107
{
	z-index: 92;
	width: 48px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3676px;
	left: 743px;
}

#u934
{
	z-index: 93;
	width: 47px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u938
{
	z-index: 95;
	width: 46px;
	height: 55px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1106
{
	z-index: 96;
	width: 46px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3676px;
	left: 684px;
}

#u932
{
	z-index: 97;
	width: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u940
{
	z-index: 99;
	width: 44px;
	height: 55px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1046
{
	z-index: 100;
	width: 48px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3478px;
	left: 404px;
}

#u1048
{
	z-index: 101;
	width: 47px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1047
{
	z-index: 103;
	width: 46px;
	height: 55px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1050
{
	z-index: 104;
	width: 48px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3478px;
	left: 459px;
}

#u1051
{
	z-index: 105;
	width: 47px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1053
{
	z-index: 107;
	width: 46px;
	height: 55px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1054
{
	z-index: 108;
	width: 157px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3362px;
	left: 402px;
}

#u1056
{
	z-index: 110;
	width: 159px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3225px;
	left: 647px;
}

#u1058-7
{
	z-index: 112;
	width: 237px;
	min-height: 75px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 3233px;
	left: 402px;
}

#u1059-7
{
	z-index: 119;
	width: 284px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 3486px;
	left: 521px;
}

#u1060-7
{
	z-index: 126;
	width: 301px;
	min-height: 49px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 3360px;
	left: 573px;
}

#u1358
{
	z-index: 133;
	width: 48px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3572px;
	left: 403px;
}

#u1096
{
	z-index: 134;
	width: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#u861
{
	z-index: 136;
	width: 46px;
	height: 55px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1108
{
	z-index: 137;
	width: 46px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3517px;
	left: 804px;
}

#u1101
{
	z-index: 138;
	width: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1105
{
	z-index: 140;
	width: 44px;
	height: 55px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1109-4
{
	z-index: 141;
	width: 299px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	color: #7F7F7F;
	text-align: center;
	font-size: 80px;
	font-family: cabin, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 3514px;
	left: 92px;
}

#u1110-4
{
	z-index: 145;
	width: 299px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	color: #7F7F7F;
	text-align: center;
	font-size: 80px;
	font-family: cabin, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 3084px;
	left: 94px;
}

#u1327-6
{
	z-index: 149;
	width: 300px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 3406px;
	left: 574px;
}

#u1514-4
{
	z-index: 155;
	width: 299px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	color: #7F7F7F;
	text-align: center;
	font-size: 80px;
	font-family: cabin, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 2568px;
	left: 93px;
}

#u1518-6
{
	z-index: 159;
	width: 189px;
	min-height: 22px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 3308px;
	left: 427px;
}

#u1570-5
{
	z-index: 165;
	width: 258px;
	min-height: 23px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 3161px;
	left: 532px;
}

#u1571-13
{
	z-index: 170;
	width: 188px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2881px;
	left: 630px;
}

#u1572-16
{
	z-index: 183;
	width: 173px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 3012px;
	left: 402px;
}

#u1573
{
	z-index: 199;
	width: 172px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3007px;
	left: 630px;
}

#u1576
{
	z-index: 201;
	width: 76px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3111px;
	left: 441px;
}

#u1580
{
	z-index: 203;
	width: 171px;
	height: 122px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3007px;
	left: 630px;
}

#u1587
{
	z-index: 204;
	width: 75px;
	height: 101px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3111px;
	left: 441px;
}

#u1595-10
{
	z-index: 205;
	width: 267px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2793px;
	left: 472px;
}

#u1596
{
	z-index: 215;
	width: 48px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2782px;
	left: 407px;
}

#u1597
{
	z-index: 216;
	width: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#u1599
{
	z-index: 218;
	width: 46px;
	height: 55px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1766-13
{
	z-index: 219;
	width: 207px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2610px;
	left: 406px;
}

#u2791
{
	z-index: 232;
	width: 188px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2860px;
	left: 405px;
}

#u1575
{
	z-index: 233;
	width: 186px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1710
{
	z-index: 234;
	width: 186px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#u1767
{
	z-index: 236;
	width: 59px;
	height: 82px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2602px;
	left: 613px;
}

#u2671-4
{
	z-index: 237;
	width: 299px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	color: #7F7F7F;
	text-align: center;
	font-size: 80px;
	font-family: cabin, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 1807px;
	left: 97px;
}

#u2672
{
	z-index: 241;
	width: 55px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2522px;
	left: 406px;
}

#u2673
{
	z-index: 242;
	width: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2675
{
	z-index: 244;
	width: 53px;
	height: 63px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2684
{
	z-index: 245;
	width: 55px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2523px;
	left: 472px;
}

#u2679
{
	z-index: 246;
	width: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2681
{
	z-index: 248;
	width: 55px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2682
{
	z-index: 249;
	width: 53px;
	height: 64px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2685-7
{
	z-index: 250;
	width: 284px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2528px;
	left: 539px;
}

#u2686
{
	z-index: 257;
	width: 310px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2390px;
	left: 616px;
}

#u2692-15
{
	z-index: 259;
	width: 284px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2391px;
	left: 406px;
}

#u2697-9
{
	z-index: 274;
	width: 257px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2298px;
	left: 481px;
}

#u2792
{
	z-index: 283;
	width: 61px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2290px;
	left: 406px;
}

#u2693
{
	z-index: 284;
	width: 59px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2694
{
	z-index: 285;
	width: 60px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#u2698-11
{
	z-index: 287;
	width: 133px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2127px;
	left: 406px;
}

#u2699
{
	z-index: 298;
	width: 257px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2127px;
	left: 539px;
}

#u2724
{
	z-index: 300;
	width: 55px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2210px;
	left: 703px;
}

#u2725
{
	z-index: 301;
	width: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2679_img,#u2725_img
{
	margin-left: -6px;
	margin-right: -4px;
}

#u2727
{
	z-index: 303;
	width: 55px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2728
{
	z-index: 304;
	width: 53px;
	height: 64px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2729-6
{
	z-index: 305;
	width: 284px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2216px;
	left: 406px;
}

#u2735
{
	z-index: 311;
	width: 52px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1930px;
	left: 719px;
}

#u2731
{
	z-index: 312;
	width: 51px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2733
{
	z-index: 314;
	width: 50px;
	height: 60px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2736-6
{
	z-index: 315;
	width: 284px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1940px;
	left: 404px;
}

#u2737
{
	z-index: 321;
	width: 48px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2703px;
	left: 406px;
}

#u2739
{
	z-index: 322;
	width: 47px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2738
{
	z-index: 324;
	width: 46px;
	height: 55px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2741-6
{
	z-index: 325;
	width: 284px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2710px;
	left: 467px;
}

#u2744
{
	z-index: 331;
	width: 89px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2004px;
	left: 406px;
}

#u2745
{
	z-index: 332;
	width: 68px;
	background-color: transparent;
	margin-left: 7px;
	position: relative;
}

#u2747
{
	z-index: 334;
	width: 89px;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
}

#u2751-12
{
	z-index: 336;
	width: 284px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2009px;
	left: 512px;
}

#u2775-38
{
	z-index: 348;
	width: 276px;
	min-height: 176px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1710px;
	left: 396px;
}

#u2775-36
{
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	color: #000000;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 400;
}

#u2776
{
	z-index: 386;
	width: 201px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1691px;
	left: 678px;
}

#u2771
{
	z-index: 387;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2774
{
	z-index: 389;
	width: 199px;
	height: 202px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2786
{
	z-index: 390;
	width: 256px;
	height: 57px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2127px;
	left: 539px;
}

#u2787
{
	z-index: 391;
	width: 309px;
	height: 87px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2390px;
	left: 616px;
}

#u2790-4
{
	z-index: 392;
	width: 200px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	font-size: 12px;
	line-height: 1.4;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1895px;
	left: 720px;
}

#u2926-8
{
	z-index: 396;
	width: 349px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1614px;
	left: 460px;
}

#u2927-12
{
	z-index: 404;
	width: 305px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1501px;
	left: 396px;
}

#u2928-5
{
	z-index: 416;
	width: 327px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1002px;
	left: 388px;
}

#u2929-9
{
	z-index: 421;
	width: 284px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1419px;
	left: 456px;
}

#u2930-8
{
	z-index: 430;
	width: 270px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1173px;
	left: 520px;
}

#u2931-10
{
	z-index: 438;
	width: 374px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1316px;
	left: 388px;
}

#u2932-5
{
	z-index: 448;
	width: 241px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 845px;
	left: 579px;
}

#u2933-4
{
	z-index: 453;
	width: 299px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	color: #7F7F7F;
	text-align: center;
	font-size: 80px;
	font-family: cabin, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 870px;
	left: 88px;
}

#u2944
{
	z-index: 457;
	width: 48px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1614px;
	left: 396px;
}

#u2945
{
	z-index: 458;
	width: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#u2947
{
	z-index: 460;
	width: 46px;
	height: 55px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2949
{
	z-index: 461;
	width: 70px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1501px;
	left: 721px;
}

#u2951
{
	z-index: 462;
	width: 69px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2950
{
	z-index: 464;
	width: 68px;
	height: 81px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2954
{
	z-index: 465;
	width: 46px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1413px;
	left: 396px;
}

#u2955
{
	z-index: 466;
	width: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2957
{
	z-index: 468;
	width: 44px;
	height: 55px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2959
{
	z-index: 469;
	width: 57px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1316px;
	left: 775px;
}

#u2960
{
	z-index: 470;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2962
{
	z-index: 472;
	width: 55px;
	height: 66px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2964
{
	z-index: 473;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1138px;
	left: 388px;
}

#u2970
{
	z-index: 475;
	width: 72px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1013px;
	left: 736px;
}

#u2972
{
	z-index: 476;
	width: 70px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 2px;
}

#u2971
{
	z-index: 478;
	width: 70px;
	height: 83px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2975
{
	z-index: 479;
	width: 178px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 832px;
	left: 388px;
}

#u2981
{
	z-index: 481;
	width: 178px;
	height: 135px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 832px;
	left: 388px;
}

#u3011
{
	z-index: 482;
	width: 214px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1055px;
	left: 501px;
}

#u4480-6
{
	z-index: 484;
	width: 191px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 757px;
	left: 388px;
}

#u4481
{
	z-index: 490;
	width: 214px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 757px;
	left: 584px;
}

#u4490
{
	z-index: 492;
	width: 129px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 591px;
	left: 388px;
}

#u4500-13
{
	z-index: 494;
	width: 241px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 602px;
	left: 538px;
}

#u2729-3,#u2736-3,#u2751-5,#u2775-7,#u2775-10,#u2775-13,#u2775-18,#u2775-23,#u2775-27,#u2775-31,#u2775-35,#u2926-2,#u2927-3,#u2928-2,#u2929-3,#u2929-6,#u2930-2,#u2931-4,#u2931-7,#u2932-2,#u4480,#u4480-3,#u4500-6,#u4500-10
{
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
}

#u4505-4
{
	z-index: 507;
	width: 299px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	color: #7F7F7F;
	text-align: center;
	font-size: 80px;
	font-family: cabin, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 416px;
	left: 89px;
}

#u4508-9
{
	z-index: 511;
	width: 305px;
	min-height: 45px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 498px;
	left: 388px;
}

#u929-2,#u931-4,#u931-6,#u1059-2,#u1059-4,#u1570-2,#u1571,#u1571-6,#u1571-8,#u1572-2,#u1572-6,#u1572-8,#u1572-12,#u1595,#u1595-6,#u1766-3,#u2685-2,#u2685-4,#u2697,#u2698,#u2729-2,#u2736-2,#u2741-2,#u2751-2,#u2751-4,#u2775-2,#u2775-9,#u2775-12,#u2775-14,#u2775-19,#u2926,#u2927-2,#u2928,#u2929-2,#u2930,#u2931,#u2932,#u4500-5,#u4500-7,#u4508
{
	font-family: quattrocento-sans, sans-serif;
	font-weight: 400;
}

#u4509
{
	z-index: 520;
	width: 70px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 487px;
	left: 713px;
}

#u4511
{
	z-index: 521;
	width: 69px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2951_img,#u4511_img
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u4510
{
	z-index: 523;
	width: 68px;
	height: 81px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

.html
{
	background-color: #7F7F7F;
}

body
{
	position: relative;
	min-width: 962px;
	padding-top: 35px;
	padding-bottom: 148px;
}

