.version.people /* version checker */
{
	color: #0000FD;
	background-color: #CC09D4;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1149.9931966001468px;
	background-image: none;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 65.0068033998532px;
	margin-left: auto;
	margin-right: auto;
}

#pu141
{
	width: 0.01px;
}

#u141
{
	z-index: 2;
	width: 580px;
	position: relative;
	margin-right: -10000px;
	left: 380px;
}

#u291
{
	z-index: 4;
	width: 509px;
	position: relative;
	margin-right: -10000px;
}

#u291_img
{
	padding-bottom: 12px;
}

#u138-4
{
	z-index: 6;
	width: 299px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 577px;
}

#u139-4
{
	z-index: 10;
	width: 287px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 458px;
}

#u140-6
{
	z-index: 14;
	width: 174px;
	min-height: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 752px;
}

#u146
{
	z-index: 20;
	width: 77px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
	left: 101px;
}

#u147
{
	z-index: 21;
	width: 38px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 218px;
	left: 99px;
}

#u148
{
	z-index: 22;
	width: 1px;
	height: 77px;
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
	left: 99px;
}

#u150
{
	z-index: 23;
	width: 1px;
	height: 56px;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: 139px;
}

#u151
{
	z-index: 24;
	width: 38px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: 139px;
}

#u152
{
	z-index: 25;
	width: 38px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 139px;
}

#u153-4
{
	z-index: 26;
	width: 93px;
	min-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 127px;
	left: 197px;
}

#u155-4
{
	z-index: 30;
	width: 133px;
	min-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 197px;
}

#u156-4
{
	z-index: 34;
	width: 133px;
	min-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	left: 197px;
}

#u159
{
	z-index: 38;
	width: 28px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 71px;
}

#u160
{
	z-index: 39;
	width: 1px;
	height: 149px;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 71px;
}

#u161
{
	z-index: 40;
	width: 68px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 330px;
	left: 71px;
}

#u162
{
	z-index: 41;
	width: 1px;
	height: 56px;
	position: relative;
	margin-right: -10000px;
	margin-top: 303px;
	left: 141px;
}

#u163
{
	z-index: 42;
	width: 38px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 303px;
	left: 141px;
}

#u164
{
	z-index: 43;
	width: 38px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 358px;
	left: 141px;
}

#u165
{
	z-index: 44;
	width: 28px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 254px;
	left: 42px;
}

#u167-4
{
	z-index: 45;
	width: 133px;
	min-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 288px;
	left: 197px;
}

#u168-4
{
	z-index: 49;
	width: 133px;
	min-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 343px;
	left: 197px;
}

#u1622
{
	z-index: 53;
	width: 102px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 562px;
	left: 493px;
}

#u1622_img
{
	margin-top: -15px;
	margin-right: -61px;
	margin-bottom: -82px;
}

#u3009
{
	z-index: 55;
	width: 103px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 821px;
	left: 353px;
}

#u2869
{
	z-index: 56;
	width: 101px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2869_img
{
	margin-bottom: -4px;
}

#u2823
{
	z-index: 58;
	width: 101px;
	height: 121px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u215
{
	z-index: 59;
	width: 38px;
	height: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 144px;
	left: 286px;
}

#u1065
{
	z-index: 60;
	width: 103px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 562px;
	left: 774px;
}

#u221
{
	z-index: 61;
	width: 102px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u251
{
	z-index: 63;
	width: 101px;
	height: 121px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u990
{
	z-index: 64;
	width: 102px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 311px;
	left: 494px;
}

#u255
{
	z-index: 66;
	width: 101px;
	height: 121px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 311px;
	left: 495px;
}

#u985
{
	z-index: 67;
	width: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1082px;
	left: 348px;
}

#u259
{
	z-index: 69;
	width: 99px;
	height: 121px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1081px;
	left: 348px;
}

#u1070
{
	z-index: 70;
	width: 103px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 560px;
	left: 353px;
}

#u231
{
	z-index: 71;
	width: 102px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u261
{
	z-index: 73;
	width: 101px;
	height: 121px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1784
{
	z-index: 74;
	width: 103px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 311px;
	left: 635px;
}

#u246
{
	z-index: 75;
	width: 102px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u260
{
	z-index: 77;
	width: 101px;
	height: 121px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u216
{
	z-index: 78;
	width: 98px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 351px;
}

#u262
{
	z-index: 80;
	width: 97px;
	height: 121px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 351px;
}

#u263-7
{
	z-index: 81;
	width: 149px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 195px;
	left: 458px;
}

#u264-11
{
	z-index: 88;
	width: 106px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 693px;
	left: 770px;
}

#u265-9
{
	z-index: 99;
	width: 106px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 440px;
	left: 493px;
}

#u266-16
{
	z-index: 108;
	width: 134px;
	min-height: 123px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1212px;
	left: 348px;
}

#u272-9
{
	z-index: 131;
	width: 106px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 440px;
	left: 635px;
}

#u273-9
{
	z-index: 140;
	width: 119px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 693px;
	left: 353px;
}

#u274
{
	z-index: 149;
	width: 1px;
	height: 1087px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 254px;
	left: 42px;
}

#u1524
{
	z-index: 150;
	width: 101px;
	height: 121px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 562px;
	left: 493px;
}

#u1525-10
{
	z-index: 151;
	width: 106px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 692px;
	left: 491px;
}

#u1620-4
{
	z-index: 161;
	width: 87px;
	min-height: 23px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1059px;
	left: 348px;
}

#u1684
{
	z-index: 165;
	width: 159px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 770px;
	left: 118px;
}

#u1687-4
{
	z-index: 167;
	width: 159px;
	min-height: 23px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 898px;
	left: 118px;
}

#u1743-11
{
	z-index: 171;
	width: 106px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 441px;
	left: 349px;
}

#u1744
{
	z-index: 182;
	width: 103px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 309px;
	left: 349px;
}

#u1739
{
	z-index: 183;
	width: 102px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1739_img
{
	padding-top: 2px;
}

#u1742
{
	z-index: 185;
	width: 101px;
	height: 121px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1782-8
{
	z-index: 186;
	width: 102px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 692px;
	left: 633px;
}

#u1785-15
{
	z-index: 194;
	width: 133px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1214px;
	left: 498px;
}

#u2076
{
	z-index: 209;
	width: 103px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1080px;
	left: 497px;
}

#u2073
{
	z-index: 210;
	width: 103px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2073_img
{
	margin-right: -1px;
}

#u1786
{
	z-index: 212;
	width: 101px;
	height: 124px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2126
{
	z-index: 213;
	width: 102px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 561px;
	left: 633px;
}

#u2126_img
{
	margin-left: -11px;
	margin-right: -7px;
}

#u2120
{
	z-index: 215;
	width: 103px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 561px;
	left: 633px;
}

#u1783
{
	z-index: 216;
	width: 101px;
	height: 121px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2110
{
	z-index: 217;
	width: 157px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 592px;
	left: 119px;
}

#u2113-5
{
	z-index: 219;
	width: 159px;
	min-height: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 718px;
	left: 118px;
}

#u2805-11
{
	z-index: 224;
	width: 106px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 440px;
	left: 770px;
}

#u2849
{
	z-index: 235;
	width: 103px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 309px;
	left: 770px;
}

#u2813
{
	z-index: 236;
	width: 102px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2813_img
{
	margin-top: -2px;
	margin-bottom: -1px;
}

#u2802
{
	z-index: 238;
	width: 101px;
	height: 121px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2819-9
{
	z-index: 239;
	width: 106px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 959px;
	left: 353px;
}

#u2940
{
	z-index: 248;
	width: 159px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 409px;
	left: 117px;
}

#u2943-6
{
	z-index: 250;
	width: 159px;
	min-height: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 531px;
	left: 117px;
}

#u263,#u263-4,#u264,#u264-4,#u264-6,#u264-8,#u265,#u265-4,#u265-6,#u266,#u266-4,#u266-9,#u266-11,#u266-13,#u266-14,#u272,#u272-4,#u272-6,#u273,#u273-4,#u273-6,#u1525,#u1525-4,#u1525-6,#u1743,#u1743-4,#u1743-6,#u1743-8,#u1782,#u1782-4,#u1785,#u1785-4,#u1785-9,#u1785-11,#u1785-13,#u2113-2,#u2805,#u2805-4,#u2805-6,#u2805-8,#u2819,#u2819-4,#u2819-6,#u2943-2
{
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
}

#u266-7,#u1785-7,#u2113-3,#u2943-4
{
	font-family: quattrocento-sans, sans-serif;
	font-weight: 400;
}

#pu269
{
	width: 0.01px;
	margin-left: 39px;
	margin-top: 10px;
}

#u269
{
	z-index: 129;
	width: 51px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u267-4
{
	z-index: 124;
	width: 286px;
	min-height: 31px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 18px;
	font-family: cabin, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 597px;
}

#u268
{
	z-index: 128;
	width: 837px;
	height: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #000000;
	margin-left: 97px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

.html
{
	background-color: #7F7F7F;
}

body
{
	position: relative;
	min-width: 962px;
	padding-top: 35px;
	padding-bottom: 148px;
}

