.version.publications /* version checker */
{
	color: #000003;
	background-color: #A690A1;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1384.971529933483px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 65px;
	width: 0.01px;
}

#pu141
{
	width: 0.01px;
}

#u141
{
	z-index: 2;
	width: 580px;
	margin-right: -10000px;
	left: 380px;
}

#u291
{
	z-index: 4;
	width: 509px;
	margin-right: -10000px;
}

#u291_img
{
	padding-bottom: 12px;
}

#u138-4
{
	z-index: 6;
	width: 299px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 577px;
}

#u139-4
{
	z-index: 10;
	width: 287px;
	min-height: 36px;
	margin-right: -10000px;
	margin-top: 100px;
	left: 458px;
}

#u140-6
{
	z-index: 14;
	width: 174px;
	min-height: 57px;
	margin-right: -10000px;
	margin-top: 106px;
	left: 752px;
}

#u146
{
	z-index: 20;
	width: 77px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 142px;
	left: 101px;
}

#u147
{
	z-index: 21;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 218px;
	left: 99px;
}

#u148
{
	z-index: 22;
	width: 1px;
	height: 77px;
	margin-right: -10000px;
	margin-top: 142px;
	left: 99px;
}

#u150
{
	z-index: 23;
	width: 1px;
	height: 56px;
	margin-right: -10000px;
	margin-top: 191px;
	left: 139px;
}

#u151
{
	z-index: 24;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 191px;
	left: 139px;
}

#u152
{
	z-index: 25;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 247px;
	left: 139px;
}

#u153-4
{
	z-index: 26;
	width: 93px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 127px;
	left: 197px;
}

#u155-4
{
	z-index: 30;
	width: 133px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 180px;
	left: 197px;
}

#u156-4
{
	z-index: 34;
	width: 133px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 231px;
	left: 197px;
}

#u159
{
	z-index: 38;
	width: 28px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 181px;
	left: 71px;
}

#u160
{
	z-index: 39;
	width: 1px;
	height: 149px;
	margin-right: -10000px;
	margin-top: 181px;
	left: 71px;
}

#u161
{
	z-index: 40;
	width: 68px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 330px;
	left: 71px;
}

#u162
{
	z-index: 41;
	width: 1px;
	height: 56px;
	margin-right: -10000px;
	margin-top: 303px;
	left: 141px;
}

#u163
{
	z-index: 42;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 303px;
	left: 141px;
}

#u164
{
	z-index: 43;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 358px;
	left: 141px;
}

#u165
{
	z-index: 44;
	width: 28px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 254px;
	left: 42px;
}

#u167-4
{
	z-index: 45;
	width: 133px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 288px;
	left: 197px;
}

#u168-4
{
	z-index: 49;
	width: 133px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 343px;
	left: 197px;
}

#u343
{
	z-index: 60;
	width: 1px;
	height: 1431px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 254px;
	left: 42px;
}

#u345
{
	z-index: 61;
	width: 224px;
	height: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 337px;
}

#u346-111
{
	z-index: 62;
	width: 530px;
	min-height: 886px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 392px;
	left: 380px;
}

#u346,#u346-5,#u346-6,#u346-10,#u346-11,#u346-15,#u346-16,#u346-20,#u346-21,#u346-25,#u346-26,#u346-38,#u346-39,#u346-43,#u346-44,#u346-48,#u346-49,#u346-53,#u346-54,#u346-58,#u346-59,#u346-63,#u346-64,#u346-68,#u346-69,#u346-73,#u346-74,#u346-78,#u346-79,#u346-83,#u346-84,#u346-88,#u346-89,#u346-93,#u346-94,#u346-98,#u346-99,#u346-103,#u346-104,#u346-108
{
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
}

#u346-3,#u346-8,#u346-13,#u346-18,#u346-23,#u346-28,#u346-41,#u346-46,#u346-51,#u346-56,#u346-61,#u346-66,#u346-71,#u346-76,#u346-81,#u346-86,#u346-91,#u346-96,#u346-101,#u346-106
{
	font-family: quattrocento-sans, sans-serif;
	font-weight: 400;
}

#u347
{
	z-index: 173;
	width: 134px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 159px;
	left: 590px;
}

#u352
{
	z-index: 175;
	width: 133px;
	height: 175px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 159px;
	left: 590px;
}

#u1352-4
{
	z-index: 176;
	width: 61px;
	min-height: 21px;
	background-color: transparent;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 429px;
	left: 129px;
}

#u1353
{
	z-index: 180;
	width: 128px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 450px;
	left: 129px;
}

#pu341
{
	width: 0.01px;
	margin-left: 39px;
	margin-top: 11px;
}

#u341
{
	z-index: 58;
	width: 51px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u339-4
{
	z-index: 53;
	width: 286px;
	min-height: 31px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 18px;
	font-family: cabin, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 597px;
}

#u340
{
	z-index: 57;
	width: 837px;
	height: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	margin-left: 97px;
	top: -4px;
	margin-bottom: -3px;
	position: relative;
}

body
{
	position: relative;
	min-width: 962px;
	padding-top: 35px;
	padding-bottom: 148px;
}

