html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1037.4640299334808px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 65px;
}

#pu141
{
	width: 0.01px;
	position: relative;
}

#u141
{
	z-index: 2;
	width: 580px;
	margin-right: -10000px;
	left: 380px;
}

#u291
{
	z-index: 4;
	width: 509px;
	margin-right: -10000px;
}

#u291_img
{
	padding-bottom: 13px;
}

#u138-4
{
	z-index: 6;
	width: 299px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 577px;
}

#u139-4
{
	z-index: 10;
	width: 287px;
	min-height: 36px;
	margin-right: -10000px;
	margin-top: 100px;
	left: 458px;
}

#u140-6
{
	z-index: 14;
	width: 174px;
	min-height: 57px;
	margin-right: -10000px;
	margin-top: 106px;
	left: 752px;
}

#u146
{
	z-index: 20;
	width: 77px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 142px;
	left: 101px;
}

#u147
{
	z-index: 21;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 218px;
	left: 99px;
}

#u148
{
	z-index: 22;
	width: 1px;
	height: 77px;
	margin-right: -10000px;
	margin-top: 142px;
	left: 99px;
}

#u150
{
	z-index: 23;
	width: 1px;
	height: 56px;
	margin-right: -10000px;
	margin-top: 191px;
	left: 139px;
}

#u151
{
	z-index: 24;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 191px;
	left: 139px;
}

#u152
{
	z-index: 25;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 247px;
	left: 139px;
}

#u153-4
{
	z-index: 26;
	width: 93px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 127px;
	left: 197px;
}

#u155-4
{
	z-index: 30;
	width: 133px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 180px;
	left: 197px;
}

#u156-4
{
	z-index: 34;
	width: 133px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 231px;
	left: 197px;
}

#u159
{
	z-index: 38;
	width: 28px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 181px;
	left: 71px;
}

#u160
{
	z-index: 39;
	width: 1px;
	height: 149px;
	margin-right: -10000px;
	margin-top: 181px;
	left: 71px;
}

#u161
{
	z-index: 40;
	width: 68px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 330px;
	left: 71px;
}

#u162
{
	z-index: 41;
	width: 1px;
	height: 56px;
	margin-right: -10000px;
	margin-top: 303px;
	left: 141px;
}

#u163
{
	z-index: 42;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 303px;
	left: 141px;
}

#u164
{
	z-index: 43;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 358px;
	left: 141px;
}

#u165
{
	z-index: 44;
	width: 28px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 254px;
	left: 42px;
}

#u167-4
{
	z-index: 45;
	width: 133px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 288px;
	left: 197px;
}

#u168-4
{
	z-index: 49;
	width: 133px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 343px;
	left: 197px;
}

#u596
{
	z-index: 53;
	width: 38px;
	height: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 144px;
	left: 286px;
}

#u599
{
	z-index: 54;
	width: 102px;
	position: relative;
	margin-right: -10000px;
	margin-top: 315px;
	left: 325px;
}

#u609
{
	z-index: 56;
	width: 101px;
	height: 121px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 314px;
	left: 325px;
}

#u615-7
{
	z-index: 57;
	width: 149px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 458px;
}

#u616-9
{
	z-index: 64;
	width: 106px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 443px;
	left: 324px;
}

#u617-7
{
	z-index: 73;
	width: 106px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 443px;
	left: 439px;
}

#u618-9
{
	z-index: 80;
	width: 106px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 443px;
	left: 561px;
}

#u619-7
{
	z-index: 89;
	width: 106px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 443px;
	left: 679px;
}

#u620-7
{
	z-index: 96;
	width: 106px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 443px;
	left: 799px;
}

#u615,#u615-4,#u616,#u616-4,#u616-6,#u617,#u617-4,#u618,#u618-4,#u618-6,#u619,#u619-4,#u620,#u620-4
{
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
}

#u1074
{
	z-index: 103;
	width: 103px;
	position: relative;
	margin-right: -10000px;
	margin-top: 313px;
	left: 679px;
}

#u607
{
	z-index: 104;
	width: 102px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u607_clip
{
	overflow: hidden;
	width: 102px;
	height: 122px;
}

#u607_img
{
	margin-left: -22px;
	margin-right: -1px;
	margin-bottom: -14px;
}

#u612
{
	z-index: 106;
	width: 101px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u629
{
	z-index: 107;
	width: 101px;
	height: 121px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.61;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=61)";
	filter: alpha(opacity=61);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u1075
{
	z-index: 108;
	width: 103px;
	position: relative;
	margin-right: -10000px;
	margin-top: 313px;
	left: 796px;
}

#u603
{
	z-index: 109;
	width: 102px;
	position: relative;
	margin-right: -10000px;
}

#u603_clip
{
	overflow: hidden;
	width: 102px;
	height: 123px;
}

#u603_img
{
	margin: -8px -8px -37px -7px;
}

#u613
{
	z-index: 111;
	width: 101px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u630
{
	z-index: 112;
	width: 103px;
	height: 121px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.61;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=61)";
	filter: alpha(opacity=61);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -2px;
}

#u1071
{
	z-index: 113;
	width: 99px;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 351px;
}

#u597
{
	z-index: 114;
	width: 98px;
	position: relative;
	margin-right: -10000px;
}

#u614
{
	z-index: 116;
	width: 97px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u631
{
	z-index: 117;
	width: 97px;
	height: 121px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.61;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=61)";
	filter: alpha(opacity=61);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u632-15
{
	z-index: 118;
	width: 574px;
	min-height: 386px;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 523px;
	left: 324px;
}

#u632-8
{
	font-family: quattrocento-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u637
{
	z-index: 140;
	width: 1px;
	height: 881px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 254px;
	left: 42px;
}

#u639
{
	z-index: 141;
	width: 568px;
	position: relative;
	margin-right: -10000px;
	margin-top: 925px;
	left: 327px;
}

#u1072
{
	z-index: 143;
	width: 103px;
	position: relative;
	margin-right: -10000px;
	margin-top: 314px;
	left: 441px;
}

#u997
{
	z-index: 144;
	width: 102px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u997_clip
{
	overflow: hidden;
	width: 102px;
	height: 121px;
}

#u997_img
{
	margin-left: -32px;
	margin-right: -26px;
	margin-bottom: -32px;
}

#u999
{
	z-index: 146;
	width: 101px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u627
{
	z-index: 147;
	width: 101px;
	height: 121px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.61;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=61)";
	filter: alpha(opacity=61);
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -1px;
}

#u1073
{
	z-index: 148;
	width: 101px;
	position: relative;
	margin-right: -10000px;
	margin-top: 313px;
	left: 561px;
}

#u995
{
	z-index: 149;
	width: 100px;
	position: relative;
	margin-right: -10000px;
}

#u995_clip
{
	overflow: hidden;
	width: 100px;
	height: 122px;
}

#u995_img
{
	margin-left: -8px;
	margin-right: -10px;
	margin-bottom: -30px;
}

#u1000
{
	z-index: 151;
	width: 99px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u628
{
	z-index: 152;
	width: 99px;
	height: 121px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.61;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=61)";
	filter: alpha(opacity=61);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#pu635
{
	width: 0.01px;
	margin-left: 39px;
	margin-top: 3px;
	position: relative;
}

#u635
{
	z-index: 138;
	width: 51px;
	position: relative;
	margin-right: -10000px;
}

#pu633-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 58px;
}

#u633-4
{
	z-index: 133;
	width: 286px;
	min-height: 31px;
	color: #7F7F7F;
	font-size: 18px;
	font-family: cabin, sans-serif;
	font-weight: 700;
	margin-left: 539px;
	position: relative;
}

#u634
{
	z-index: 137;
	width: 837px;
	height: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

body
{
	padding-top: 35px;
	padding-bottom: 148px;
}

