html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 600px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#u141
{
	z-index: 2;
	width: 580px;
	margin-right: -10000px;
	left: 380px;
}

#u141_img
{
	padding-right: 1px;
}

#u291
{
	z-index: 4;
	width: 509px;
	margin-right: -10000px;
}

#u291_img
{
	padding-bottom: 13px;
}

#u138-4
{
	z-index: 6;
	width: 299px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 577px;
}

#u139-4
{
	z-index: 10;
	width: 287px;
	min-height: 36px;
	margin-right: -10000px;
	margin-top: 100px;
	left: 458px;
}

#u140-6
{
	z-index: 14;
	width: 174px;
	min-height: 57px;
	margin-right: -10000px;
	margin-top: 106px;
	left: 752px;
}

#u146
{
	z-index: 20;
	width: 77px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 142px;
	left: 101px;
}

#u147
{
	z-index: 21;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 218px;
	left: 99px;
}

#u148
{
	z-index: 22;
	width: 1px;
	height: 77px;
	margin-right: -10000px;
	margin-top: 142px;
	left: 99px;
}

#u150
{
	z-index: 23;
	width: 1px;
	height: 56px;
	margin-right: -10000px;
	margin-top: 191px;
	left: 139px;
}

#u151
{
	z-index: 24;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 191px;
	left: 139px;
}

#u152
{
	z-index: 25;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 247px;
	left: 139px;
}

#u153-4
{
	z-index: 26;
	width: 93px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 127px;
	left: 197px;
}

#u155-4
{
	z-index: 30;
	width: 133px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 180px;
	left: 197px;
}

#u156-4
{
	z-index: 34;
	width: 133px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 231px;
	left: 197px;
}

#u159
{
	z-index: 38;
	width: 28px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 181px;
	left: 71px;
}

#u160
{
	z-index: 39;
	width: 1px;
	height: 149px;
	margin-right: -10000px;
	margin-top: 181px;
	left: 71px;
}

#u161
{
	z-index: 40;
	width: 68px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 330px;
	left: 71px;
}

#u162
{
	z-index: 41;
	width: 1px;
	height: 56px;
	margin-right: -10000px;
	margin-top: 303px;
	left: 141px;
}

#u163
{
	z-index: 42;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 303px;
	left: 141px;
}

#u164
{
	z-index: 43;
	width: 38px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 358px;
	left: 141px;
}

#u165
{
	z-index: 44;
	width: 28px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 254px;
	left: 42px;
}

#u167-4
{
	z-index: 45;
	width: 133px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 288px;
	left: 197px;
}

#u168-4
{
	z-index: 49;
	width: 133px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 343px;
	left: 197px;
}

#u1676
{
	z-index: 53;
	width: 578px;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 345px;
}

#u1676_clip
{
	overflow: hidden;
	width: 578px;
	height: 435px;
}

#u1676_img
{
	margin: -84px -91px -22px -55px;
}

#u1681
{
	z-index: 55;
	width: 38px;
	height: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 143px;
	left: 290px;
}

#u1682-4
{
	z-index: 56;
	width: 230px;
	min-height: 23px;
	font-size: 18px;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 141px;
	left: 345px;
}

#u1683-11
{
	z-index: 60;
	width: 578px;
	min-height: 67px;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 622px;
	left: 345px;
}

#u1683,#u1683-4,#u1683-7
{
	font-family: quattrocento-sans, sans-serif;
	font-weight: 400;
}

#u1688-4
{
	z-index: 71;
	width: 286px;
	min-height: 31px;
	color: #7F7F7F;
	font-size: 18px;
	font-family: cabin, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 705px;
	left: 633px;
}

#u1689
{
	z-index: 75;
	width: 837px;
	height: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 734px;
	left: 94px;
}

#u1690
{
	z-index: 76;
	width: 51px;
	position: relative;
	margin-right: -10000px;
	margin-top: 694px;
	left: 37px;
}

#u1692
{
	z-index: 78;
	width: 2px;
	height: 423px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 255px;
	left: 41px;
}

body
{
	padding-top: 35px;
	padding-bottom: 148px;
}

