#u138-4
{
	font-family: cabin-n5, sans-serif;
}

#u140-6
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u139-4,#u153-4,#u155-4,#u156-4,#u167-4,#u168-4
{
	font-family: cabin-n7, sans-serif;
}

#u754-4
{
	font-family: cabin-n7, sans-serif;
}

#u759-2,#u759-3,#u759-5,#u759-6,#u759-8,#u759-9,#u759-11
{
	font-family: quattrocento-sans-n4, sans-serif;
}

#u743,#u743-4,#u744,#u744-4,#u744-6,#u745,#u745-4,#u746,#u746-4,#u746-6,#u747,#u747-4,#u748,#u748-4,#u759-12,#u759-13,#u759-14
{
	font-family: quattrocento-sans-n7, sans-serif;
}

