#u138-4
{
	font-family: cabin-n5, sans-serif;
}

#u140-6
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u139-4,#u153-4,#u155-4,#u156-4,#u167-4,#u168-4
{
	font-family: cabin-n7, sans-serif;
}

#u582,#u582-4
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u584-4
{
	font-family: cabin-n7, sans-serif;
}

#u590-18
{
	font-family: quattrocento-sans-n4, sans-serif;
}

#u590-8
{
	font-family: quattrocento-sans-i4, sans-serif;
}

