#u138-4
{
	font-family: cabin-n5, sans-serif;
}

#u140-6
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u139-4,#u153-4,#u155-4,#u156-4,#u167-4,#u168-4
{
	font-family: cabin-n7, sans-serif;
}

#u346-2,#u346-7,#u346-12,#u346-17,#u346-22,#u346-27,#u346-32,#u346-37,#u346-42,#u346-47,#u346-52,#u346-57,#u346-62
{
	font-family: quattrocento-sans-n4, sans-serif;
}

#u346-4,#u346-5,#u346-9,#u346-10,#u346-14,#u346-15,#u346-19,#u346-20,#u346-24,#u346-25,#u346-29,#u346-30,#u346-34,#u346-35,#u346-39,#u346-40,#u346-44,#u346-45,#u346-49,#u346-50,#u346-54,#u346-55,#u346-59,#u346-60,#u346-64,#u1352-4
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u339-4
{
	font-family: cabin-n7, sans-serif;
}

