#u138-4
{
	font-family: cabin-n5, sans-serif;
}

#u140-6
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u139-4,#u153-4,#u155-4,#u156-4,#u167-4,#u168-4
{
	font-family: cabin-n7, sans-serif;
}

#u615,#u615-4,#u616,#u616-4,#u616-6,#u617,#u617-4,#u618,#u618-4,#u618-6,#u619,#u619-4,#u620,#u620-4
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u632-15
{
	font-family: quattrocento-sans-n4, sans-serif;
}

#u632-8
{
	font-family: quattrocento-sans-i4, sans-serif;
}

#u633-4
{
	font-family: cabin-n7, sans-serif;
}

