#u138-4
{
	font-family: cabin-n5, sans-serif;
}

#u140-6
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u139-4,#u153-4,#u155-4,#u156-4,#u167-4,#u168-4
{
	font-family: cabin-n7, sans-serif;
}

#u275-4
{
	font-family: cabin-n7, sans-serif;
}

#u1501-14,#u1528-16,#u1609-11
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u1501,#u1501-6,#u1501-8,#u1501-11,#u1528-2,#u1528-6,#u1528-8,#u1528-12,#u1609,#u1609-6,#u1609-8
{
	font-family: quattrocento-sans-n4, sans-serif;
}

