#u138-4
{
	font-family: cabin-n5, sans-serif;
}

#u140-6
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u139-4,#u153-4,#u155-4,#u156-4,#u167-4,#u168-4
{
	font-family: cabin-n7, sans-serif;
}

#u1644-4
{
	font-family: cabin-n7, sans-serif;
}

#u1646-2,#u1646-3,#u1646-5,#u1646-6,#u1646-8,#u1646-9,#u1646-11
{
	font-family: quattrocento-sans-n4, sans-serif;
}

#u1646-12,#u1646-13,#u1650,#u1650-4
{
	font-family: quattrocento-sans-n7, sans-serif;
}

