#u141
{
	opacity: 0.73;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=73)";
	filter: alpha(opacity=73);
	position: relative;
}

#u291
{
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	position: relative;
}

#u138-4
{
	color: #000000;
	font-size: 80px;
	text-align: center;
	font-family: cabin, sans-serif;
	font-weight: 500;
	position: relative;
}

#u139-4
{
	color: #7F7F7F;
	font-size: 20px;
	font-family: cabin, sans-serif;
	font-weight: 700;
	position: relative;
}

#u140-6
{
	font-size: 24px;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u146,#u147,#u148,#u150,#u151,#u152,#u159,#u160,#u161,#u162,#u163,#u164,#u165
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
}

#u153-4,#u155-4,#u156-4,#u167-4,#u168-4
{
	font-size: 24px;
	font-family: cabin, sans-serif;
	font-weight: 700;
	position: relative;
}

